@tailwind base;
@tailwind components;
@tailwind utilities;
/* scroll bar */
::-webkit-scrollbar {
  margin: 0;
  width: 0px;
  height: 3px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(7, 113, 21);
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
